
*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}

.carousel-item img {
    width: 100%;
    height: 95vh;
}

img[src="images/nature2.jpg"] {
    width: 70%;
    height: 50vh;
}
img[src="images/nature1.jpg"] {
    width: 70%;
    height: 50vh;
}
img[src="images/nature3.jpg"] {
    width: 70%;
    height: 50vh;
}

img[src="images/architecture1.jpg"] {
    width: 70%;
    height: 50vh;
}
img[src="images/architecture2.jpg"] {
    width: 70%;
    height: 50vh;
}
img[src="images/architecture3.jpg"] {
    width: 70%;
    height: 50vh;
}

img[src="images/travel1.jpg"] {
    width: 70%;
    height: 50vh;
}
img[src="images/travel2.jpg"] {
    width: 70%;
    height: 50vh;
}
img[src="images/travel3.jpg"] {
    width: 70%;
    height: 50vh;
}